<h2><%= t('description.preface') + Titler.new(controller: nil, i18n: nil).title %></h2>
<h3><%= t('description.index') %></h3>
<%= render 'pages/shared/navigation' %>
<p><%= t('time_preface') + Time.now.to_s %></p>
